# Git
.git
.gitignore

# Environments
.env
.venv
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Node / React
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
frontend/dist/

# Models / Large Data
backend/emotion_model_old/
backend/training/eval_results/
backend/training/goemotions/

# IDE
.vscode/
.idea/
.DS_Store
